.game-board-wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
  .hints-row {
    display: flex;
    justify-content: center;
    margin-bottom: 5px;
  }
  
  .hint-placeholder {
    width: 30px;
    height: 30px;
  }
  
  .hint-col {
    width: 30px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-end;
  }
  
  .hint-num {
    font-size: 12px;
    line-height: 12px;
  }
  
  .hints-column-and-board {
    display: flex;
  }
  
  .hints-column {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    margin-right: 5px;
  }
  
  .hint-row {
    height: 30px;
    display: flex;
    align-items: center;
    justify-content: flex-end;
  }
  
  .game-board {
    display: flex;
    flex-direction: column;
  }
  
  .game-row {
    display: flex;
  }
  
  .game-cell {
    width: 30px;
    height: 30px;
    border: 1px solid black;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    user-select: none;
    position: relative;
  }
  
  .game-cell.marked {
    background-color: black;
  }
  
  .cell-content.x {
    font-size: 24px;
    line-height: 30px;
  }
  
  .cell-content.question {
    font-size: 20px;
    color: blue;
  }
  
  .cell-content {
    position: absolute;
  }
  