.home-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh; /* 뷰포트 높이를 100%로 설정 */
  }
  
  .create-session-button {
    padding: 10px 20px;
    font-size: 16px;
  }
  